html {
    font-size: 14px;
}

* {
    color:white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #15333a;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:white;
    text-shadow: 0 0 1px white !important;
}

.navbar-brand {
    font-size:25px;
    margin-left:100px;
}

.nav-link {
    font-size: 20px;
}
.nav-login {
    margin-right: 100px;
}

.login-button:hover {
    background-color: #DC761D;
}

.create-button,.ticket-button,.submit-button {
    font-size: 17px;
    background-color: #DC761D;
}

table {
    background-color: rgba(0,0,0,0.4);
}

.bold {
    font-weight:bold;
}

.search-input {
    background-color: rgba(0,0,0,0.4);
    border: none;
    height: 35px !important;
}
.search-input:active,.search-input:focus{
    border:none !important;
    
}
.fa-trash{
    color:red !important;
}

.fa-circle-info {
    color: #39a7fa;
}

.fa-pen-to-square {
    color: #72f78a;
}